[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
channels = "*"
channels-redis = "*"
djangorestframework = "*"
nose = "*"
pillow =  "*"
pytest-asyncio =  "*"
pytest-django =  "*"
pytest =  "*"
twisted = "*"
requests = "*"
"psycopg2-binary" = "*"
googlemaps = "*"
django-scheduler = "*"
python-slugify = "*"


[dev-packages]
pylint = "*"
rope = "*"
#jupyter = "*"
#pandas = "*"

[requires]
python_version = "3.7.3"
