<div class="row">
  <div class="col-lg-12">
    <!-- TOP Nav-Bar + Breadcrumbs -->
    <!-- <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home Map</li>
      </ol>
    </nav> -->

    <!-- Side bar -->
    <div class="row">
      <div class="card col-md-4">
            <h4 class="card-header">CS-info List</h4>
            <div class="card-body">
              <form #requestForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="poiAddress">Find a station</label>
                    <input
                      id="poiAddress"
                      class="form-control"
                      type="text"
                      name="poiAddress"
                      placeholder="1735 Rue Saint-Denis, Montréal"
                      required
                    >
                  </div>
                </form>
              <ul class="cs-list">
                <li *ngFor="let station of stationsList">
                  <span class="badge"> CS {{station.name}}</span> <p>{{station.address}}</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- Map Display -->
          <div class="card col-md-8">
              <h4 class="card-header">Map</h4>
              <div class="card-body">
                  <agm-map [latitude]="poiLat" [longitude]="poiLng" [zoom]="zoom">
                      <agm-marker
                          *ngFor="let marker of markers"
                          [latitude]="marker.lat"
                          [longitude]="marker.lng"
                          [label]="marker.label"
                      >
                      </agm-marker>
                    </agm-map>
              </div>
          </div>
    </div>
  </div>
</div>